<section id="about" class="padding-80">

  <!--about page content-->
  <div class="about-section">
    <div class="container">
      <div class="section-heading text-center">
        <h4 class="small section-title"><span><%= t ('about.love')%></span></h4>
        <h2 class="large section-title"><%= t ('contact.contact')%></h2>
      </div><!--section heading-->

    </div><!--container-->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="about-box wow animated fadeInDown animated" data-wow-duration="0.3s" style="visibility: visible; -webkit-animation: fadeInDown 0.3s;">
            <div class="about-box-icon">
              <i class="ion-ios7-lightbulb-outline"></i>
            </div>
            <div class="about-box-text">
              <h4><%= t ('about.head_1')%> </h4>
              <p>
                <%= t ('about.text_1')%>
              </p>
            </div>
          </div><!--about us box end-->
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="about-box wow animated fadeInDown animated" data-wow-delay="0.5" style="visibility: visible; -webkit-animation: fadeInDown;">
            <div class="about-box-icon">
              <i class="ion-ios7-infinite-outline"></i>
            </div>
            <div class="about-box-text">
              <h4><%= t ('about.head_1')%></h4>
              <p>
                <%= t ('about.text_1')%>
              </p>
            </div>
          </div><!--about us box end-->
        </div>
      </div><!--about services row end-->
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="about-box wow animated fadeInDown animated" data-wow-delay="0.6s" style="visibility: visible; -webkit-animation: fadeInDown 0.6s;">
            <div class="about-box-icon">
              <i class="ion-ios7-star-outline"></i>
            </div>
            <div class="about-box-text">
              <h4><%= t ('about.head_1')%> </h4>
              <p>
                <%= t ('about.text_1')%>
              </p>
            </div>
          </div><!--about us box end-->
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="about-box wow animated fadeInDown animated" data-wow-delay="0.8s" style="visibility: visible; -webkit-animation: fadeInDown 0.8s;">
            <div class="about-box-icon">
              <i class="ion-person-stalker"></i>
            </div>
            <div class="about-box-text">
              <h4><%= t ('about.head_1')%> </h4>
              <p>
                <%= t ('about.text_1')%>
              </p>
            </div>
          </div><!--about us box end-->
        </div>
      </div><!--about services row end-->
      <div class="about-section-more">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="about-more-info wow animated fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation: fadeInUp 0.3s;">
              <p>
                <%= t ('about.text_1')%>
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="skills-wrapper wow animated bounceIn animated" data-wow-delay="0.6s" style="visibility: visible; -webkit-animation: bounceIn 0.6s;">
              <h3 class="heading-progress">Web Design <span class="pull-right">88%</span></h3>
              <div class="progress">
                <div class="progress-bar" style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" role="progressbar">
                </div>
              </div>
              <h3 class="heading-progress">Web Development <span class="pull-right">78%</span></h3>
              <div class="progress">
                <div class="progress-bar" style="width: 78%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="78" role="progressbar">
                </div>
              </div>
              <h3 class="heading-progress">Marketing <span class="pull-right">82%</span></h3>
              <div class="progress">
                <div class="progress-bar" style="width: 82%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="82" role="progressbar">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--section about 3 end-->
    </div>
  </div>

  <div class="purchase-now parallax" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="wow animated fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation: fadeInLeft 0.3s;"><%= (t 'about.slogan_2').html_safe %></h1>
        </div>
        <div class="col-sm-4">
          <a href="#" class="btn btn-lg btn-theme-color wow animated bounceIn animated" data-wow-delay="0.6s" style="visibility: visible; -webkit-animation: bounceIn 0.6s;"> <%= t ('about.purchase_now')%></a>
        </div>
      </div>
    </div>
  </div>
  <!--page about content end here-->
</section>
<!--about section end here-->