<section id="contact" class="padding-80">
  <div class="contact-sec-1">
    <div class="container">
      <div class="section-heading text-center">
        <br> 
        <h4 class="small section-title"><span><%= t ('contact.say_hello')%>  </span></h4>
        <h2 class="large section-title"><%= t ('contact.contact')%></h2>
      </div><!--section heading-->
    </div><!--.container-->
    <div class="container">
      <div class="row">
        <div class="col-md-4" align="center">
          <a href="http://www.facebook.com/Ukraine.NewZealand" target="_blank"><i class="fa fa-facebook-square iconblack fa-5x"></i></a></br><%= t ('contact.get_social')%>
        </div>
        <div class="col-md-4" align="center">
          <a href="mailto:info@nzukrainians.org"><i class="fa fa-envelope-o iconblack fa-5x"></i></a></br><%= t ('contact.email')%>
        </div>
        <div class="col-md-4" align="center">
          <a href="skype:+6498873232?call"><i class="fa fa-phone-square iconblack fa-5x"></i></a></br><%= t ('contact.phone')%>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br> 
    <br> 
  </div><!--Contact-sec-1 end-->
</section><!--contact section end-->

<section id="home2" data-stellar-background-ratio="0.5" style="background-position: 50% 200px;">
</section>