<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if @stores.blank? %>
      <% else %>
          <h4 class="text-center" style="border-bottom: 1px solid lightgray; padding-bottom: 5px;"><%= (t 'partner.stores') %></h4>
      <% end %>
      <% @stores.in_groups_of(6).each do |group| %>
          <div class="row">
            <% group.each do |store| %>
                <% if store.nil? %>
                <% else %>
                    <div class="col-md-2">
                      <div class="thumbnail" align="center">
                        <div class="img-thumbnail" style="border-radius: 100%;">
                          <%= image_tag store.image.url(:small_m), class: "img-circle" %>
                        </div>
                        <div class="caption" style="border-top: 1px solid lightgray;">
                          <h5 class="text-center"><%= store.name %></h5>

                          <p style="font-size: 12px;" class="text-center"><%= link_to store.site, "http://" + store.site, :target => "_blank" %></p>
                        </div>
                      </div>
                    </div>
                <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="col-md-12">
      <% if @companies.blank? %>
      <% else %>
          <h4 class="text-center" style="border-bottom: 1px solid lightgray; padding-bottom: 5px;"><%= (t 'partner.companies') %></h4>
      <% end %>
      <% @companies.in_groups_of(6).each do |group| %>
          <div class="row">
            <% group.each do |company| %>
                <% if company.nil? %>
                <% else %>
                    <div class="col-md-2">
                      <div class="thumbnail" align="center">
                        <div class="img-thumbnail" style="border-radius: 100%;">
                          <%= image_tag company.image.url(:small_m), class: "img-circle" %>
                        </div>
                        <div class="caption" style="border-top: 1px solid lightgray;">
                          <h5 class="text-center"><%= company.name %></h5>

                          <p style="font-size: 12px;" class="text-center"><%= link_to company.site, "http://" + store.site, :target => "_blank" %></p>
                        </div>
                      </div>
                    </div>
                <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="col-md-12">
      <% if @delivery_companies.blank? %>
      <% else %>
          <h4 class="text-center" style="border-bottom: 1px solid lightgray; padding-bottom: 5px;"><%= (t 'partner.delivery_companies') %></h4>
      <% end %>
      <% @delivery_companies.in_groups_of(6).each do |group| %>
          <div class="row">
            <% group.each do |delivery_company| %>
                <% if delivery_company.nil? %>
                <% else %>
                    <div class="col-md-2">
                      <div class="thumbnail" align="center">
                        <div class="img-thumbnail" style="border-radius: 100%;">
                        <%= image_tag delivery_company.image.url(:small_m), class: "img-circle" %>
                        </div>
                        <div class="caption" style="border-top: 1px solid lightgray;">
                          <h5 class="text-center"><%= delivery_company.name %></h5>

                          <p style="font-size: 12px;" class="text-center"><%= link_to delivery_company.site, "http://" + delivery_company.site, :target => "_blank" %></p>
                        </div>
                      </div>
                    </div>
                <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="col-md-12">
      <% if @partners_r.blank? %>
      <% else %>
          <h4 class="text-center" style="border-bottom: 1px solid lightgray; padding-bottom: 5px;"><%= (t 'partner.web') %></h4>
      <% end %>
      <% @partners_r.in_groups_of(6).each do |group| %>
          <div class="row">
            <% group.each do |partners_r| %>
                <% if partners_r.nil? %>
                <% else %>
                    <div class="col-md-2">
                      <div class="thumbnail" align="center">
                        <div class="img-thumbnail" style="border-radius: 100%;">
                          <%= image_tag partners_r.image.url(:small_m), class: "img-circle" %>
                        </div>
                        <div class="caption" style="border-top: 1px solid lightgray;">
                          <h5 class="text-center"><%= partners_r.name %></h5>

                          <p style="font-size: 12px;" class="text-center"><%= link_to partners_r.site, "http://" + partners_r.site, :target => "_blank" %></p>
                        </div>
                      </div>
                    </div>
                <% end %>
            <% end %>
          </div>
      <% end %>
    </div>


  </div>
</div>
<div class="container">
  <div class="row">
    <div align="center">
      <%= link_to (partners_path) do %>
          <button type="button" class="btn btn-default"><%= (t 'role.all') %></button>
      <% end %>
    </div>
  </div>
</div>
