<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if @companies.blank? %>
      <% else %>
          <h4 class="text-center" style="border-bottom: 1px solid lightgray; padding-bottom: 5px;"><%= (t 'partner.companies') %></h4>
      <% end %>
      <% @companies.in_groups_of(6).each do |group| %>
          <div class="row">
            <% group.each do |company| %>
                <% if company.nil? %>
                <% else %>
                    <div class="col-md-2">
                      <div class="thumbnail" align="center">
                        <div class="img-thumbnail" style="border-radius: 100%;">
                          <%= image_tag company.image.url(:small_m), class: "img-circle" %>
                        </div>
                        <div class="caption" style="border-top: 1px solid lightgray;">
                          <h5 class="text-center"><%= company.name %></h5>

                          <p style="font-size: 12px;" class="text-center"><%= link_to company.site, "http://" + company.site, :target => "_blank" %></p>
                        </div>
                      </div>
                    </div>
                <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div align="center">
      <%= link_to (partners_path) do %>
          <button type="button" class="btn btn-default"><%= (t 'role.all') %></button>
      <% end %>
    </div>
  </div>
</div>
